.button {
  margin-left: auto;
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2px;
  color: white;
  background-color: #cf5e89;
  border: none;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s ease;
}

.button:hover {
  background-color: #dd6492;
}

.button:active {
  background-color: #cf5e89;
}